
{{#with attending_members.[0] as |this|}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{this.event.[name]}}</h1>
    <p class="lead">{{this.event.[description]}}</p>
    <hr class="my-4">
    <p><strong>Where: </strong>{{this.event.[location]}}</p>
    <p><strong>When: </strong>{{this.event.[date_time]}}</p>
  </div>
</div>
{{/with}}
